.container{
    width: 100%;
}
.container-md{
    width: 80%;
    margin: auto;
   
    padding: 0.5rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
@media only screen and (max-width: 600px) {

}