.container-section{



}
.contact-section .row{
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
padding: 7rem 0;
}

.contact-card{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 2rem;
    border-radius: 2rem;
    transition: all 0.5s;
}

.contact-card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.contact-icon{

    font-size: 4rem;
    background-color:  #FDCA01;
    padding: 2rem;
    border-radius: 100%;
}

.contact-icon i{
z-index: 55;
color: #804C00;

}

.contact-header{


}
.contact-header h3{

    font-size: 1.5rem;
    font-weight: 700;

}
.contact-body{
text-align: center;

}

.contact-body p{
font-size: 1.2rem;
font-weight: 700;

}
@media only screen and (max-width: 800px) {
   .contact-section .row{
        flex-direction: column;
        gap: 2.5rem;
   } 
   .contact-card{
    width: 90%;
   }
}
