.footer{
    background: linear-gradient(to left, #B7B7B7 0%, #49494B 50%, #5A5A5C 100%);

}
.footer .row{
    
}
.footer-row{
    justify-content: space-around;
    padding: 2rem;
    flex-direction: row-reverse;
   
}
.footer-row h4{
    text-align: center;
    font-weight: 800;
    letter-spacing:1px;
    color: #FDCA01;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    color: aliceblue;
    text-transform: capitalize;
}
.contact span{
    font-weight: 500;
    min-width: 200px;
border-bottom: 1px solid rgba(183, 183, 183,0.3);
text-align: center;
padding: 1rem;
 transition: all 0.5s;
}
.logo{
 margin-left: 2%;
}
.footer-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    
}
.footer-list-head{
color: #FDCA01;
font-weight: 700;
}
.footer-list li a{
    color: white;
    font-weight: 500;
    transition: all 0.2s;
 
    display: block;
}
.footer-list li{
min-width: 200px;
border-bottom: 1px solid rgba(183, 183, 183,0.3);
text-align: center;
padding: 1rem;
 transition: all 0.5s;
 
}
.footer-list li:hover {
    padding-left: 7px;
    width: 100%;
}
.footer-list li a:hover{
    color: #FDCA01;
    
}
.logo11 img{
    width: max(70px,15vw);
}

@media only screen and (max-width: 600px){

    .footer{
        background: linear-gradient(to bottom, #B7B7B7 0%, #49494B 50%, #5A5A5C 100%);
    }
    .footer-row{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}