nav{
    width: 100%;
   
    position: absolute;
    z-index: 99;
    line-height: 2rem;
    background: linear-gradient(to right, #ffffff 0%, #49494B 50%, #5A5A5C 100%);
}
.logo{
    width: max(70px,5vw);
}
.nav-row{
    justify-content: space-between;
    align-items: center;
}
.list{
    display: flex;
    flex-wrap: wrap;

    gap: 1rem;

}
.list-link{
    color: #FDCA01;
    font-weight: 500;
}

.menu-bar{
cursor: pointer;
display: flex;
flex-direction: column;

width: 50px;
height: 40px;


position: relative;
align-items: center;
justify-content: center;
display: none;
}
.bar{
    width: 40px;
    height: 3px;
    color: aliceblue;
    background-color: #9C6804;
    border-radius: 5px;
    display: block;
    transition: all 0.25s;

}
.bar::after,
.bar::before{
    content: " ";
    width: 40px;
    height: 2px;
   background-color: #A97600;
   position: absolute;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.5s;
}
.bar::after{
    transform: translateY(10px);
}
.bar::before{
    transform: translateY(-10px);
}
.open .bar{
    background-color: transparent;
}
.open .bar::after{
    transform: rotate(-45deg);
}
.open .bar::before{
    transform: rotate(45deg);
}
@media only screen and (max-width: 600px) {


    .menu-bar{
        display: flex;
    }
nav{
    position: relative;
}

.list{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #804C00 0%, #FAC600 50%, #804C00 100%);
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    align-items: center;
    opacity: 0;
    text-align: center;
    gap: 2rem;
    transform: translateX(-100%);
    transition: all ease-in-out;
    overflow: hidden;
    justify-content: center;
    pointer-events: none;

}
.list-item{
   width: 100%;

   border-bottom-width: 10px;
}
.list-item:hover{

}

.list-link{
    display: block;
    color: #804C00;
    font-size: 1.5rem;
    font-weight: 700;
}
}
.menu-open{
    height: 250px;
    opacity: 1;
    transform: translateX(0);
    transition: all 1s;
    pointer-events: all;
}
.menu-close{
  transform: translateX(-100%);  
}